<div id="container">
  <div class="row g-3 align-items-center justify-content-center">
    <div class="col-auto">
      <label class="col-form-label">Enter new Wish: </label>
    </div>
    <div class="col-auto">
      <input
        name="new-wish-text"
        type="text"
        class="form-control"
        [(ngModel)]="newWishText"
      >
    </div>
    <div class="col-auto">
      <button
        id="submitBtn"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select
        class="form-select"
        [(ngModel)]="listFilter"
        (ngModelChange)="filterChanged($event)"
      >
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Funfilled</option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
    <wish-list
      [wishes] = visibleItems
    ></wish-list>
  </div>
</div>
